## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
a_df = application_df.drop(['EIN', 'NAME'], axis=1)
a_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
counts = a_df.nunique()
counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = a_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cut = 45
app_count = dict(counts)
application_types_to_replace = []

# iterate through items in dictionary, add app types with value < cutoff to list
for x, value in app_count.items():
    if value < cut:
        application_types_to_replace.append(x)

# Replace in dataframe
for app in application_types_to_replace:
    a_df['APPLICATION_TYPE'] = a_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
a_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = a_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2561        1
C1570        1
C1245        1
C2150        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts.loc[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C2400        6
C1720        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1256        2
C1246        2
C1267        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cut = 75
class_count = dict(class_counts)
classifications_to_replace = []

# iterate through items in dictionary, add classifications with value < cutoff to list
for x, value in class_count.items():
    if value < cut:
        classifications_to_replace.append(x)


# Replace in dataframe
for cls in classifications_to_replace:
    a_df['CLASSIFICATION'] = a_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
a_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: CLASSIFICATION, dtype: int64

In [9]:
# Execute PD Dummies 
dum_df = pd.get_dummies(a_df)
dum_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = dum_df.drop('IS_SUCCESSFUL', axis=1).values
y = dum_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
#Get number of inputs
number_input = len(X_train[0])
number_input

53

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=number_input))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                3240

 dense_1 (Dense)             (None, 40)                2440

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 5,721
Trainable params: 5,721
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5705 - accuracy: 0.7217
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7297
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7311
Epoch 4/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7333
Epoch 5/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7312
Epoch 6/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7323
Epoch 7/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7331
Epoch 8/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7335
Epoch 9/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7346
Epoch 10/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7337
Epoch 11/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7352
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7350
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7353
Epoch 14/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7352
Epoch 15/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7361
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7364
Epoch 18/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7366
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7357
Epoch 20/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7363
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7364
Epoch 23/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7372
Epoch 24/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5364 - accuracy: 0.7374
Epoch 25/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 26/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7374
Epoch 27/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7391
Epoch 28/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7387
Epoch 29/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7396
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7382
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7385
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7408
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7392
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 36/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 37/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7406
Epoch 39/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7405
Epoch 40/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 41/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 42/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 43/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7398
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 45/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7401
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7404
Epoch 48/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 49/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7414
Epoch 50/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7414
Epoch 51/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7419
Epoch 52/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7407
Epoch 53/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7397
Epoch 55/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7419
Epoch 56/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7411
Epoch 57/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7417
Epoch 58/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7423
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7406
Epoch 60/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7403
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7413
Epoch 62/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 63/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7404
Epoch 64/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7408
Epoch 65/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 66/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7418
Epoch 67/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7418
Epoch 68/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7416
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7411
Epoch 70/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7401
Epoch 71/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7411
Epoch 72/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7418
Epoch 73/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7411
Epoch 74/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7414
Epoch 75/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7427

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5586 - accuracy: 0.7307 - 685ms/epoch - 3ms/step
Loss: 0.5585877895355225, Accuracy: 0.7307288646697998

Attempt Two adding a third hidden layer

In [17]:
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=number_input))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

#adding third hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 60)                3240

 dense_4 (Dense)             (None, 40)                2440

 dense_5 (Dense)             (None, 20)                820

 dense_6 (Dense)             (None, 1)                 21

=================================================================
Total params: 6,521
Trainable params: 6,521
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5757 - accuracy: 0.7153
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7290
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7308
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 5/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7319
Epoch 6/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7326
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7329
Epoch 8/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7331
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7360
Epoch 12/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7360
Epoch 14/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7366
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7365
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7364
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7380
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7366
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7371
Epoch 20/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7363
Epoch 21/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7383
Epoch 22/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7372
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7380
Epoch 24/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7386
Epoch 25/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7386
Epoch 26/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 27/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7390
Epoch 28/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7395
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7396
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7391
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7390
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7406
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7412
Epoch 36/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7413
Epoch 37/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7408
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7398
Epoch 39/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7406
Epoch 40/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 41/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 42/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7395
Epoch 43/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7403
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 45/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 46/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 47/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7418
Epoch 48/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7411
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7426
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7414
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5303 - accuracy: 0.7419
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7415
Epoch 53/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7419
Epoch 54/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7408
Epoch 55/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5294 - accuracy: 0.7422
Epoch 56/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7407
Epoch 57/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5296 - accuracy: 0.7421
Epoch 58/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7421
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7416
Epoch 60/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7423
Epoch 61/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7426
Epoch 62/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5288 - accuracy: 0.7428
Epoch 63/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5288 - accuracy: 0.7417
Epoch 64/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5288 - accuracy: 0.7417
Epoch 65/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7420
Epoch 66/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7420
Epoch 67/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7420
Epoch 68/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7419
Epoch 69/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5281 - accuracy: 0.7426
Epoch 70/75
804/804 [==============================] - 4s 5ms/step - loss: 0.5275 - accuracy: 0.7431
Epoch 71/75
804/804 [==============================] - 4s 6ms/step - loss: 0.5283 - accuracy: 0.7420
Epoch 72/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5283 - accuracy: 0.7420
Epoch 73/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7424
Epoch 74/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5279 - accuracy: 0.7423
Epoch 75/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5279 - accuracy: 0.7430

In [30]:
# Evaluate the model2 using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5600 - accuracy: 0.7286 - 287ms/epoch - 1ms/step
Loss: 0.5599716305732727, Accuracy: 0.7286297082901001

Attempt 3 Drop Ask Amount as a column due to extreme variance and most data being 5k ask amount

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
a_df2 = application_df.drop(['EIN', 'NAME', 'ASK_AMT'], axis=1)
a_df2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,1

In [21]:
# Execute PD Dummies 
dum_df = pd.get_dummies(a_df2)
dum_df.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [22]:
# Split our preprocessed data into our features and target arrays
X = dum_df.drop('IS_SUCCESSFUL', axis=1).values
y = dum_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
#Get number of inputs
number_input = len(X_train[0])
number_input

115

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=number_input))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 60)                6960

 dense_8 (Dense)             (None, 40)                2440

 dense_9 (Dense)             (None, 1)                 41

=================================================================
Total params: 9,441
Trainable params: 9,441
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 4s 3ms/step - loss: 0.5738 - accuracy: 0.7203
Epoch 2/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5518 - accuracy: 0.7303
Epoch 3/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7314
Epoch 4/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 5/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7333
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7328
Epoch 7/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7346
Epoch 8/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7347
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7343
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7353
Epoch 13/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7355
Epoch 14/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7362
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7371
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7367
Epoch 18/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7364
Epoch 19/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7384
Epoch 20/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7374
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7375
Epoch 22/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7364
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7367
Epoch 24/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7380
Epoch 25/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7386
Epoch 26/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7380
Epoch 27/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7393
Epoch 28/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7379
Epoch 29/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 30/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 31/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7400
Epoch 32/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5334 - accuracy: 0.7388
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7405
Epoch 34/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7394
Epoch 35/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 36/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 37/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 38/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7403
Epoch 39/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7402
Epoch 40/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7397
Epoch 41/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7391
Epoch 42/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 43/75
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7405
Epoch 44/75
804/804 [==============================] - 4s 5ms/step - loss: 0.5316 - accuracy: 0.7391
Epoch 45/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7397
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7410
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7415
Epoch 48/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7408
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7409
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7407
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7400
Epoch 53/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7426
Epoch 54/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 55/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5305 - accuracy: 0.7407
Epoch 56/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5304 - accuracy: 0.7412
Epoch 57/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5303 - accuracy: 0.7410
Epoch 58/75
804/804 [==============================] - 4s 4ms/step - loss: 0.5305 - accuracy: 0.7404
Epoch 59/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5298 - accuracy: 0.7419
Epoch 60/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5296 - accuracy: 0.7406
Epoch 61/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5302 - accuracy: 0.7406
Epoch 62/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7416
Epoch 63/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5300 - accuracy: 0.7405
Epoch 64/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5296 - accuracy: 0.7421
Epoch 65/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5293 - accuracy: 0.7427
Epoch 66/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7418
Epoch 67/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7415
Epoch 68/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7426
Epoch 69/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5294 - accuracy: 0.7413
Epoch 70/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5291 - accuracy: 0.7424
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5289 - accuracy: 0.7423
Epoch 72/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7418
Epoch 73/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5288 - accuracy: 0.7413
Epoch 74/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5287 - accuracy: 0.7422
Epoch 75/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5286 - accuracy: 0.7416

In [28]:
# Evaluate the model3 using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5600 - accuracy: 0.7286 - 485ms/epoch - 2ms/step
Loss: 0.5599716305732727, Accuracy: 0.7286297082901001

In [29]:
# Export our model to HDF5 file
nn.save('AbetCharity.h5')